<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSMotionUsageDescription</key>
	<string>기울기에 따라 홈 유리볼의 움직임을 자연스럽게 표현하기 위해 사용합니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>pretendard_black.ttf</string>
		<string>pretendard_bold.ttf</string>
		<string>pretendard_extrabold.ttf</string>
		<string>pretendard_extralight.ttf</string>
		<string>pretendard_light.ttf</string>
		<string>pretendard_medium.ttf</string>
		<string>pretendard_regular.ttf</string>
		<string>pretendard_semibold.ttf</string>
		<string>pretendard_thin.ttf</string>
	</array>
</dict>
</plist>
